<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <script src="/js/jquery.js"></script>
  <style>
      body{
          background-image: url(" /image/1.jpg");
      }
  #lb1{
      color: brown;
      font-size: 60px;
      text-align: center
  }
  .ac{
      margin: 1em;
      width: 30em;
      height: 2.5em;
  }
  #formlogin{
      margin-top: 10em;
     text-align: center
  }
 .bt{
     width: 100px;
     height: 30px;
     margin: 10px;
      padding: 5px;
      border: 2px solid #4CAF50; 
      border-radius: 4px;
  }
  </style>
    <title>Login Account</title>
    </head>
    <body>
        <div>
                <div id = "lb1"> Login for System</div>
                <div id = "formlogin"><form>
                <input type="text" placeholder="User name" class="ac" name = "user_name" id="input-forget"><br>
                <input type="text" placeholder="Mã xác nhận" class="ac ac1" name = "code_cofirm" id="code-forget" hidden><br>
                <input type="password" placeholder="Mật khẩu mới" class="ac ac1 " name = "code_cofirm" id="pass-forget" hidden><br>
                <input type="password" placeholder="Xác nhận mật khẩu mới" class="ac ac1" name = "code_cofirm" id="pass-forget-1" hidden><br>
                <input class="bt" id="bt-forget-1" type="button" value="Xác nhận">
                <input class="bt" id="bt-forget-2" class="ac2" type="button" value="Xác nhận" hidden>
                </form></div>
        </div>

    </body>
</html>
<script>
$("#bt-forget-1").click(function(){
if($("#input-forget").val()){
$.post("/forget_password", {user_name: $("#input-forget").val()}, function(data, status){
if(data.code=="5"){
    alert(data.data)
}else{
$(".ac1").show();
$("#bt-forget-2").show();
$("#input-forget").hide();
$("#bt-forget-1").hide();
}
})
}else{
    alert("Bạn cần nhập thông tin")
}
})

$("#bt-forget-2").click(function(){
    if($("#code-forget").val()){
$.post("/code_password", {code: $("#code-forget").val(), pass: $("#pass-forget").val(), pass1: $("#pass-forget-1").val() }, function(data, status){
if(data.code=="5"){
    alert(data.data)
}else{
window.location.href="/login/account"
}
})
}else{
    alert("Bạn cần nhập thông tin")
}
})
</script>