<!DOCTYPE html>
<html>
<head>
<title>Vi du Text Input đa dong</title>
<script src="js/jquery.js"></script>
<script src="js/congviec.js"></script>
</head>
<body>
<dialog id="hopthoai"><form>
        Mieu ta: <br />
        <textarea rows="5" cols="50" name="description" placeholder="ghi công việc"></textarea><br>
        <input type="button" value="Save" id = "save">
        <input type="button" value="Cancel" id="cancel">
        </form></dialog>
        <input type="button" value="bấm" onclick="hien()">
</body>
</html>